ErrorDocument 404 /error.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^index index.php [NC,L]

RewriteRule ^register login.php?page=reg [NC,L]

RewriteRule ^login login.php [NC,L]

RewriteRule ^handle/register handle/register.php [NC,L]

RewriteRule ^handle/logincheck handle/logincheck.php [NC,L]

RewriteRule ^user_dashboard user_dashboard.php [NC,L]

RewriteRule ^handle/logout handle/logout.php [NC,L]

RewriteRule ^handle/fetchUserInfo handle/fetchUserInfo.php [NC,L]