header{
    background: #252323;
}
.sidebar{
    position: fixed;
    height: 100vh;
}
.sidebar ul{
    display: flex;
    flex-direction: column;
}

.headerItem{
    width:100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
     cursor: pointer;
    margin: 20px 0;
    color: white;
    background: #444141;
}
.headerItem--active{
    background: #5DA9E9;
}


