body,html{
    margin: 0px;
    padding:0px;
    overflow-x: hidden;
}
.headerBar img{
    float: left;
}
.headBar__container{
   display: grid;
   grid-template-columns: 50vw auto;
}
.headBar__photo > img{
    width: 50vw;
    min-width: 300px;
    height: 100vh;
    object-fit: cover;
}
.headBar__textField{
    box-shadow: -10px 0 8px 0 rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headBar__vnylogo{
    justify-self: flex-start;
}
.headBar__vnylogo > img{
    width: 450px;
    height:360px;
    object-fit: cover;
}  
.headBar__button{
    cursor: pointer;
    padding: 20px 40px;
    margin: 10px 0 ;
    font: 22px montserrat;
    font-weight: bolder;
    border-radius: 5px;
    background: #034ea2;
    color: white;
}



.sliderBar{
    background: #feb913;
    position: relative;
    width: 100%;
    height: max-content;
}
.sliderBar__sideNav{
    position: absolute;
    width: 100px;
    height: 100vh;
    display: flex;
    z-index: 2;
    top:0;
    left: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.sliderBar__navButton{
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.4s;
}
.sliderBar__navButton--active{
    width: 20px;
    height: 20px;
    background: transparent;
    border:3px solid black
}
.sliderBar__slides{
    display: grid;
    width: calc(100vw - 150px);
    min-height: max-content;
    /* background: #feb913; */
    margin-left: 150px;
        
}
.sliderBar__slide{
    padding: 100px 0;
    width:100%;
    height: 100vh;
    display: grid;
    grid-gap: 20px;
    justify-content: end;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
}
.sliderBar__slideHead{
    font: 45px montserrat;
    font-weight: bolder;
    grid-area: 1 / 1 / 2 / 2;
}
.sliderBar__slideContent{
    font: 20px quicksand;
    font-weight: bolder;
    grid-area: 2 / 1 / 3 / 2;
}
.sliderBar__slidePhoto{
    grid-area: 1 / 2 / 3 / 3;
}
.sliderBar__slidePhoto img{
    width:500px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    max-height: 80vh;
    object-fit: cover;
}
.main{
    padding: 50px 0;
    background: #ee1c24;
    width:100vw;
    display: grid;
    justify-content: center;
    align-items:center; 
}
.main__searchContainer{
    display: grid;
    justify-content: center;
    align-items:center; 
    
}
.main input{
    width: 600px;
    justify-self: center;
    padding: 10px 30px;
    font:25px quicksand;
    text-align: center;
    border: none;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.05); 
}
.main label{
    display: block;
    margin:20px 0 ;
    text-align: center;
    font:22px quicksand;
    font-weight: bolder;
    color: white;
}
.cards__cont{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px ;
    grid-auto-flow: row;
    padding: 50px 0;
    grid-gap:50px;
}
.card__textBox{
    background: #fff !important;
}
.a__tag{
    background: #5DA9E9 !important;
    color: #000 !important;

}
.a__card{
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2) !important; 
}