*{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
.main{
    padding: 50px 0;
    background: #ee1c24;
    min-height: 100vh;
    width:100vw;
    display: grid;
    justify-content: center;
    align-items:center; 
}
.main__searchContainer{
    display: grid;
    justify-content: center;
    align-items:center; 
    
}
.main input{
    width: 600px;
    justify-self: center;
    padding: 10px 30px;
    font:25px quicksand;
    text-align: center;
    border: none;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.05); 
}
.main label{
    display: block;
    margin:20px 0 ;
    text-align: center;
    font:30px montserrat;
    font-weight: bolder;
    color: white;
}
.cards__cont{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px ;
    grid-auto-flow: row;
    padding: 50px 0;
    grid-gap:50px;
}
.card__textBox{
    background: #fff !important;
}
.a__tag{
    background: #5DA9E9 !important;
    color: #000 !important;

}
.a__card{
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2) !important; 
}
.main__searchContainer button{
    color: white;
    text-align: center;
    padding: 0 10px;
    font-size: 25px;
    border: none;
    font-weight: bolder;
    background: transparent;
    cursor: pointer;
}