.userInfo button {
    font-weight: bolder;
    margin-right:  10px; 
    font: 17px quicksand;
    padding: 10px 20px;
    border: none;
    border-radius:2px;
    background: #5DA9E9;
    cursor: pointer;
    width: max-content;
}

form.cardAdd{
    /* display: none; */
    width: 100%;
    font:16px quicksand;
}
.cardAdd > div{
    margin: 5px 0;
    display: flex;
    flex-flow: column;
}
.cardAdd > div > *{
    min-width: max-content;
    margin: 3px 20px;
}
input{
    padding: 5px 10px;
    font:20px quicksand;
    width: 400px;
    /* border: 1px solid rgb(44, 96, 139); */
    background: white;
}
input[type=file]{
    background: transparent;
}