
*{
    margin: 0;
    padding:0 ;
}
body{
    overflow-x: hidden;
}
.bodyContainer{
    width:100vw;
    min-height: 100vh;
    background: #F5F1ED;
    display: grid;
    grid-template-columns: 80px auto;
}
.userInfo{
    width: 100%;
    margin:10px;
    height:max-content;
}

.userInfo__userData{
    margin: 20px 0;
}
.userPPcontainer{
    width: 200px;
    height: 200px;
    background: rgb(187, 186, 186);
    border-radius: 100%;
    color: white;
    text-align: center;
    line-height: 200px;
    font: 25px montserrat,sans-serif;
}
.userPPcontainer > h1{
    line-height: 200px;
    
}
.userData__a{
    display: flex;
    align-items: center;
    margin:20px 0;
    font: 22px quicksand,sans-serif;
}
.userData__a *{
    margin:0 20px;
}
.userData__a button{
    padding: 5px 10px;
    border: none;
    background:#444141;
    border-radius:5px;
    font: 18px quicksand;
    color: white;
}
h2{
    font: 25px montserrat;
    font-weight: bolder;
}

input{
    padding: 5px 10px;
    font:20px quicksand;
    width: 400px;
    /* border: 1px solid rgb(44, 96, 139); */
    background: white;
}
.cards__button{
    font-weight: bolder;
    margin-right:  10px; 
    font: 17px quicksand;
    padding: 10px 20px;
    border: none;
    border-radius:2px;
    background: #5DA9E9;
    cursor: pointer;
    width: max-content;
}
