.cards{
    margin:10px 0 ;
}
.cards__cont{
    margin:10px 0 ;
}
.cards__button{
    font-weight: bolder;
    margin-right:  10px; 
    font: 17px quicksand;
    padding: 10px 20px;
    border: none;
    border-radius:2px;
    background: #5DA9E9;
    cursor: pointer;
    width: max-content;
}

.cards__button--remove{
    border: 1px solid rgb(44, 96, 139);
    background: rgba(93, 170, 233, 0.1);
    
}

.a__card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    /* background: rgb(29, 119, 192); */
    /* border-radius: 5px; */
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.1);
    width: max-content;
    
}
.card__textBox{
    width: max-content;
    padding: 10px ;
    background: #5DA9E9;
    display: flex;
    flex-direction: column;

}
.card__photo img{
    width: 320px;
    height: 150px;
    float: left;
    object-fit: cover;
}
.card__head{
     font: 20px montserrat;
     width: 300px;
    }
    .card__subHead{
        font: 18px quicksand;
    width: 300px;
}
.card__tags{
    width: 300px;
    display: inline;
}
.a__tag{
    border-radius: 100px;
    background: #fff;
    padding: 2px 5px;
    margin: 10px 0;
    color: black;
    font: 14px quicksand;
    display: inline-block;
}
form.cardAdd{
    display: none;
    width: 100%;
    font:16px quicksand;
}
.cardAdd > div{
    margin: 5px 0;
    display: flex;
    flex-flow: column;
}
.cardAdd > div > *{
    margin: 3px 20px;
}
input{
    padding: 5px 10px;
    font:20px quicksand;
    width: 400px;
    /* border: 1px solid rgb(44, 96, 139); */
    background: white;
}
input[type=file]{
    background: transparent;
}